In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [2]:
imdb = Table.read_table('imdb.csv')
imdb.show(5)

# Question 1
Find the ten movies released in the year 2000 or later with the highest number of votes according to imdb.csv. Format your answer as a table with columns Title and Votes (in that order) of the three requested movies.

In [3]:
movies2000 = imdb.where('Year', are.above_or_equal_to(2000))
movies2000sorted=movies2000.sort('Votes', descending=True)
movies2000sortedtop10=movies2000sorted.take(np.arange(0,10))
moviesfinal=movies2000sortedtop10.select("Title","Votes")
moviesfinal.show

<bound method Table.show of Title                                             | Votes
The Dark Knight                                   | 1473049
Inception                                         | 1271949
The Lord of the Rings: The Fellowship of the Ring | 1099087
The Lord of the Rings: The Return of the King     | 1074146
The Dark Knight Rises                             | 997350
The Lord of the Rings: The Two Towers             | 967389
Gladiator                                         | 862216
The Avengers                                      | 862016
Batman Begins                                     | 850601
Django Unchained                                  | 804729>

# Question 2

Create a table with columns Title and Votes containing all movies released in 1999.

Next, attach a new column to the table called Percent Votes that contains the percent of votes each movie received when considered among all votes cast for movies released in 1999.

For example, if the total number of votes cast for movies released in 1999 is 200 and "The Matrix" received 30 of them, then the column Percent Votes corresponding to "The Matrix" should 15.

In [4]:
movies1999=imdb.where('Year', are.equal_to(1999))
movies1999votes=movies1999.select("Title","Votes")
votes_column= movies1999votes.column('Votes')
total_votes= sum(votes_column)
percent_column=votes_column / total_votes * 100
movies1999votes= movies1999.with_column("Percent Votes", percent_column)
movies1999votes.select("Title","Votes","Percent Votes")

Title           | Votes   | Percent Votes
Fight Club      | 1177098 | 27.4441
American Beauty | 735056  | 17.1379
The Sixth Sense | 630994  | 14.7117
The Matrix      | 1073043 | 25.0181
The Green Mile  | 672878  | 15.6882